.animated-gradient-text {
    background: linear-gradient(300deg,
            #2563eb,
            #4f46e5,
            #7c3aed,
            #2563eb);
    background-size: 240% 240%;
    animation: gradient-animation 12s ease infinite;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
}

@keyframes gradient-animation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}